@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


/* Default: Light Mode */
body {
  background-color: #f8f9fa;
  color: #111;
  transition: 0.3s ease;
}

.dark-mode {
  background-color: #111 !important;
  color: #fff !important;
}

/* Sidebar */
.dark-mode nav {
  background-color: #222 !important;
}

/* Tables */
.dark-mode .table {
  background-color: #222 !important;
  color: #fff !important;
}

/* Card / Dashboard backgrounds */
.dark-mode .modal-content,
.dark-mode .timeline-item {
  background: #222 !important;
  color: #fff !important;
}


